// colors 
$blue-color: blue;
$transition-time: 2s;
$navbar-inverse-bg: #2C3E50;
$jumbo-green: #18BC9C;
$star-color: #2C3E50;
$navbar-inverse-link-color: white;
$navbar-inverse-link-hover-color: #18BC9C;
$mostwhite:#FFF;
$form-border-gray: #eee;


// fonts
$body-most: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$navbar-height: 100px;